<!doctype html>
<html>


<head>
	<meta charset="utf-8">
	<title>ESHOL</title>

	<style>
		* {
			font-family: Arial, Helvetica, sans-serif;
		}

		body,
		html {
			background-color: #222122;
			margin: 0px;
			padding: 0px;
			overflow: hidden;

			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		#svg-pitch-bar-indicator {
			position: absolute;
			top: 434px;
			left: 565px;
		}

		#svg {
			position: absolute;
			top: 0px;
			left: 100px;
		}

		#svg-roll-bar-indicator {
			position: absolute;
			top: 838px;
			left: 922px;
		}
	</style>
</head>

<body>
	<svg id="svg" xml:space="preserve" viewBox="-120 -20 1670 920" width="1920" height="1080" enable-background="new -120 -20 1670 920">
		<style>
			* {
				font-family: Arial, Helvetica, sans-serif;
			}
		</style>
	</svg>
	<svg id="svg-pitch-bar-indicator" viewBox="0 0 15 170" width="15" height="170" xmlns="http://www.w3.org/2000/svg">
		<rect style="font-family:Arial, Helvetica, sans-serif;fill:#00f41a;stroke-width:1.39121664;stroke-miterlimit:10;stroke-dasharray:none"
		 id="pitch-bar-indicator" height="85" width="6" y="0" x="0">
		</rect>
	</svg>

	<svg id="svg-roll-bar-indicator" viewBox="0 0 170 15" width="170" height="15" xmlns="http://www.w3.org/2000/svg">
		<rect style="font-family:Arial, Helvetica, sans-serif;fill:#00f41a;stroke-width:1.39121664;stroke-miterlimit:10;stroke-dasharray:none"
		 id="roll-bar-indicator" height="6" width="85" y="0" x="0">
		</rect>
	</svg>
	<script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
	<script src="../assets/js/TweenMax.min.js"></script>
	<script src="../node_modules/snapsvg/dist/snap.svg.js"></script>
	<!-- <script src="../node_modules/greensock/dist/TweenMax.js"></script>
	<script src="../node_modules/greensock/dist/jquery.gsap.js"></script> -->
	<!-- <script src="../app/controller.js"></script> -->
	<script src="../app/buttons.js"></script>
	<script src="../app/model.js"></script>
	<script src="../app/declarations.js"></script>
	<script src="../app/initialise.js"></script>
	<script src="../app/functions.js"></script>
	<script src="../app/events.js"></script>


	<script>
		window.onload = function () {
			$("#pitch-bar-indicator").hide();
			$("#roll-bar-indicator").hide();
			selectedAircraft = "";
			vpX = 0;
			vpY = 0;
			var s = Snap("#svg");

			var viewBox = (-vpWidth * .12).toString() +
				" " + (-vpHeight * .05).toString() + " " +
				(vpWidth * .95).toString() + " " + (vpHeight * .95).toString()

			s.attr({
				viewbox: viewBox,
				width: screenWidth,
				height: screenWidth,
			});

			Snap.load("../assets/panel.svg", function (f) {

				initialise(f);
				// ------------------- On Off Knob ---------------------
				svgOnOffKnob.click(() => {
					doOnOffKnob(f)
				});

				svgOffKnob.click(() => {
					doOnOffKnob(f)
				});

				// ------------------- Pitch and Roll Animations ---------------------
				// console.log(pitchBarIndicator.getBBox().x + " : " + pitchBarIndicator.getBBox().y + " : " +
				// 	pitchBarIndicator.getBBox().x2 + " : " + pitchBarIndicator.getBBox().y2);
				initEvents(f);
				// #lbl-aircraft is the label displayed on the active display
				// after the aircraft type has been
				// chosen from the previous aircraft
				// #opt-aircraft-id-indicator holds the text.

				CSSPlugin.defaultSmoothOrigin = true;
				var pitch = TweenMax.to("#svg-pitch-bar-indicator", 1, {
					ease: Sine.easeInOut,
					rotationX: 180,
					scaleX: 1,
					repeat: -1,
					yoyo: true,
					transformOrigin: "50% 50%"
				});
				pitch.timeScale(0.18);

				var roll = TweenMax.to("#svg-roll-bar-indicator", 1, {
					ease: Sine.easeInOut,
					rotationY: 180,
					scaleX: 1,
					repeat: -1,
					yoyo: true,
					transformOrigin: "50% 50%"
				});

				roll.timeScale(0.1);

				// #lbl-aircraft-id the group for the aircraft conditions code
				// #opt-aircraft-id-indicator using this for the text for the
				// conditions code

				// show the whole panel and display ========================
				s.append(f);
				s.attr({
					viewbox: viewBox,
					width: screenWidth,
					height: screenHeight
				});
			});
		};
	</script>
</body>

</html>